.root {
    -fx-font-size: 12pt;
    -fx-focus-color: transparent;
}

.fs3-headline {
    -fx-font-size: 20;
}

.right-border {
    -fx-border-width: 0 2 0 0;
    -fx-border-color: #22577A;
}

.tab-header-area {
    -fx-padding: 0;
}

.tab-header-background {
    -fx-opacity: 1;
    -fx-background-color: #22577A;
}

.tab {
    -fx-background-color: #22577A;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 8;
    -fx-background-radius: 0;
}

.tab-label {
    -fx-text-fill: #FFF;
}

.tab:hover .text {
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
}

.tab:selected {
    -fx-outer-border: #deaa88;
    -fx-body-color: #22577A;
    -fx-background-color:
            -fx-outer-border,
            -fx-body-color;
    -fx-background-insets: 0 0 0 0, 0 0 3 0;
}

.titled-pane {
    -fx-background-color: #1e4c6b;
    -fx-text-fill: #F7F8F9;
}

.titled-pane > .title {
    -fx-background-color: #deaa88, #22577A;
    -fx-background-insets: 0, 1 1 0 1;
}

.titled-pane > .title > .text {
    -fx-font-size: 16pt;
}

.titled-pane > .content {
    -fx-background-color: #22577A;
    -fx-border-color: #deaa88;
    -fx-border-width: 1;
}

.titled-pane:collapsed > .title {
    -fx-background-color: #58AEC9, #22577A;
    -fx-background-insets: 0, 1;
}

.titled-pane:collapsed > .content {
    -fx-border-color: #58AEC9;
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: #F7F8F9;
}

.scroll-pane {
    -fx-padding: 0;
    -fx-background-color: #1e4c6b;
}

.scroll-bar {
    -fx-background-insets: 0;
    -fx-background-color: #1e4c6b;
    -fx-pref-width: 1em;
    -fx-padding: 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0;
    -fx-border-radius: 0;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0;
    -fx-padding: 0.0 10.0 0.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #58AEC9;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 0.0;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #58AEC9;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 0.0;
}

.list-view {
    -fx-background-color: transparent, #1e4c6b;
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

.list-view .list-cell {
    -fx-text-fill: #F7F8F9;
    -fx-background-color: transparent;
}

.list-view .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #deaa88;
    -fx-text-fill: #000;
}

.list-cell:filled:hover, .list-cell:filled:selected:hover {
    -fx-font-weight: bold;
    -fx-text-fill: #F7F8F9;
}

.combo-box .list-cell
{
    -fx-background: #F7F8F9;
    -fx-background-color: transparent;
    -fx-text-fill: #000;
    -fx-padding: 4 4 4 8;
}

.combo-box-popup .list-view
{
    -fx-background-color: #F7F8F9, #F7F8F9;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: #F7F8F9;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: transparent;
    -fx-background-color: #deaa88;
    -fx-text-fill: #000;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #F7F8F9;
    -fx-text-fill: #000;
}

.combo-box-base
{
    -fx-background-color: #F7F8F9, #F7F8F9, #F7F8F9, #F7F8F9;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:focused {
    -fx-background-color: #F7F8F9, #F7F8F9, #F7F8F9, #F7F8F9;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

.button {
    -fx-text-fill: #000;
    -fx-background-color: #F7F8F9;
}

.button:hover {
    -fx-font-weight: bold;
}

.fs3-text {
    -fx-text-fill: #F7F8F9;
    -fx-font-size: 20;
}