.tab-header-area {
    -fx-padding: 0;
}

.tab-header-background {
    -fx-opacity: 1;
    -fx-background-color: #22577A;
}

.tab {
    -fx-background-color: #22577A;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 8;
    -fx-background-radius: 0;
}

.tab-label {
    -fx-text-fill: #FFF;
}

.tab:hover .text {
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
}

.tab:selected {
    -fx-outer-border: #deaa88;
    -fx-body-color: #22577A;
    -fx-background-color:
            -fx-outer-border,
            -fx-body-color;
    -fx-background-insets: 0 0 0 0, 0 0 3 0;
}